<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8"/>
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('frontend/css/lib/bootstrap.min.css') }}">
		<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
	{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body ng-controller="MainCtrl" class="container">
{% block body %}

{% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
<script src="{{ asset('frontend/js/lib/app.js') }}"></script>
</body>
</html>